 [Unit]
 Description=EpauDeBite
 After=multi-user.target

 [Service]
 Type=idle
 User=pi
 WorkingDirectory=/home/pi/Epau/
 ExecStart=python3 main.py
 StandardOutput=journal
 StandardError=inherit

 [Install]
 WantedBy=multi-user.target
