 [Unit]
 Description=My Sample Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/sh /home/pi/Epau/autostartVermuth.sh

 [Install]
 WantedBy=multi-user.target
